---
import BlogCard from '@/components/BlogCard.astro'
import { Carousel } from '@/components/Carousel'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { CarouselData, SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import type { Carousel as CarouselType } from '@/types/carousel'
import { Image } from 'astro:assets'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <Carousel items={CarouselData} client:visible>
      {
        CarouselData.map(
          ({ title, description, image, href }: CarouselType) => (
            <div class="carousel__slide__number relative">
              <div class="absolute top-0 left-0 flex h-full w-full flex-col items-start justify-end bg-gradient-to-t from-black to-transparent px-4 py-2 select-none">
                <h4
                  class="mb-2 text-sm text-white md:text-xl"
                  data-aos="fade-in"
                  data-aos-duration="600"
                >
                  {title}
                </h4>
                <span
                  class="line-clamp-4 max-h-[40%] max-w-[80%] text-xs font-normal text-white md:mb-4 md:text-base"
                  data-aos="fade-up"
                  data-aos-duration="800"
                >
                  {description}
                </span>
              </div>
              <Image
                src={image}
                class="max-h-[200px] md:max-h-[350px] w-full object-cover"
                alt={title}
                inferSize={true}
              />
            </div>
          )
        )
      }
    </Carousel>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Tajuk Berdikari</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Cerita dari Komunitas</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
